@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --background_1: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
  --background_2: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
  --background_3: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: gray;
  text-align: center;
  cursor: grab;
}


.item:active {
  cursor: grabbing;
}

.placeholder {
  border-radius: 20px;
  width: 150px;
  height: 66px;
}

.start {
  background: var(--background_1)
}
.progress {
  background: var(--background_2)
}
.done {
  background: var(--background_3)
}

.hold {
  border: 5px solid #8ed7ed;
}

.hide {

  display: none;
}

.hovered {
  border: 2px solid #8ed7ed;
  border-radius: 20px;
  transition: 0.3s;
}
